<h1 style="text-align:left; background: linear-gradient(to right, red,skyblue, green); -webkit-background-clip: text; color: transparent;">Register New User</h1>

<div *ngIf="alert"class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Your data has been register successfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 


<form [formGroup]="register" (ngSubmit)="collection()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
